<section class="about section-offset" id="about">
      <div class="container">
            <h2 class="visually-hidden">О школе RoboScool</h2>
            <p class="about__descr">
                  <b>Robo School</b> – учреждение для формирования кадрового педагогического резерва в сфере робототехники программирования
            </p>
            <ul class="about__list list-reset">
                  <li class="about__item">
                        <div class="about__digit">10</div>
                        <p class="about__text">
                              УМК по различным направлениям по робототехнике
                        </p>
                  </li>
                  <li class="about__item">
                        <div class="about__digit">20</div>
                        <p class="about__text">
                              Школ, в которых запущена робототехника
                        </p>
                  </li>
                  <li class="about__item">
                        <div class="about__digit">100</div>
                        <p class="about__text">
                              Педагогов прошедших курсы повышения квалификации
                        </p>
                  </li>
                  <li class="about__item">
                        <div class="about__digit">10 000</div>
                        <p class="about__text">
                              Обученных детей на базе собственных центров
                        </p>
                  </li>
            </ul>
      </div>
</section>