<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="228" height="48" alt="logo">
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset" data-menu>
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll data-menu-item>О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll data-menu-item>Тренеры</a></li>
        <li class="nav__item"><a href="#tariffs" class="nav__link" data-scroll data-menu-item>Стоимость</a></li>
      </ul>
    </nav>
    
    <a href="tel:+78000001122" class="phone header__phone">
      +7 800 000 11 22
      <svg class="call">
        <use xlink:href="img/sprite.svg#call"></use>
      </svg>
    </a>
    <div class="burger-wrapper">
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
