<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">

        <div class="popup__image">
          <picture>
            <source srcset="img/modal/popup-1.webp" type="image/webp">
            <img loading="lazy" src="img/popup-1.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Ирина Лайм</div>
          <div class="popup__post">Преподователь по робтотехнике</div>
          <ul class="popup__social social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="facebook">
                  <use href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="insta">
                  <use href="img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs-1">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Сентябрь 1995 — Июнь 2000
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">
                    Форма обучения: Очная
                  </p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__content-title">Курсы и тренинги</h3>
                  <p class="popup__text">
                    Ноябрь 2020 — Февраль 2021
                  </p>
                  <p class="popup__text">
                    Программа дополнительного образования «3D Моделирование»
                  </p>
                  <p class="popup__text">
                    Место проведения: Институт дополнительного образования «Политех»
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
               <div class="tabs__panel">
              <div class="popup__descr">
                <p class="popup__text">
                  Декарь 2000 — Июнь 2022
                </p>
                <p class="popup__text">
                  Санкт-Петербургский политехнический университет Петра Великого
                </p>
                <p class="popup__text">
                  Факультет: Компьютерных наук и технологий
                </p>
                <p class="popup__text">
                  Должнось: Преподователь математики и информатики
                </p>
              </div>
            </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Московская олимпиада по математике и информатики, 2е место
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Должнось: Преподователь математики и информатики
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">

        <div class="popup__image">
          <picture>
            <source srcset="img/modal/popup-2.webp" type="image/webp">
            <img loading="lazy" src="img/popup-2.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Марина Орлова</div>
          <div class="popup__post">Преподователь по робтотехнике</div>
          <ul class="popup__social social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="facebook">
                  <use href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="insta">
                  <use href="img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs-2">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Сентябрь 1995 — Июнь 2000
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">
                    Форма обучения: Очная
                  </p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__content-title">Курсы и тренинги</h3>
                  <p class="popup__text">
                    Ноябрь 2020 — Февраль 2021
                  </p>
                  <p class="popup__text">
                    Программа дополнительного образования «3D Моделирование»
                  </p>
                  <p class="popup__text">
                    Место проведения: Институт дополнительного образования «Политех»
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
               <div class="tabs__panel">
              <div class="popup__descr">
                <p class="popup__text">
                  Декарь 2000 — Июнь 2022
                </p>
                <p class="popup__text">
                  Санкт-Петербургский политехнический университет Петра Великого
                </p>
                <p class="popup__text">
                  Факультет: Компьютерных наук и технологий
                </p>
                <p class="popup__text">
                  Должнось: Преподователь математики и информатики
                </p>
              </div>
            </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Московская олимпиада по математике и информатики, 2е место
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Должнось: Преподователь математики и информатики
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">

        <div class="popup__image">
          <picture>
            <source srcset="img/modal/popup-3.webp" type="image/webp">
            <img loading="lazy" src="img/popup-3.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Максим Петров</div>
          <div class="popup__post">Преподователь по программированию</div>
          <ul class="popup__social social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="facebook">
                  <use href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="insta">
                  <use href="img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs-3">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Сентябрь 1999 — Июлбь 2004
                  </p>
                  <p class="popup__text">
                    Московский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">
                    Форма обучения: Очная
                  </p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__content-title">Курсы и тренинги</h3>
                  <p class="popup__text">
                    Ноябрь 2020 — Февраль 2021
                  </p>
                  <p class="popup__text">
                    Программа дополнительного образования «3D Моделирование»
                  </p>
                  <p class="popup__text">
                    Место проведения: Институт дополнительного образования «Политех»
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
               <div class="tabs__panel">
              <div class="popup__descr">
                <p class="popup__text">
                  Декарь 2000 — Июнь 2022
                </p>
                <p class="popup__text">
                  Санкт-Петербургский политехнический университет Петра Великого
                </p>
                <p class="popup__text">
                  Факультет: Компьютерных наук и технологий
                </p>
                <p class="popup__text">
                  Должнось: Преподователь математики и информатики
                </p>
              </div>
            </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Московская олимпиада по математике и информатики, 2е место
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Должнось: Преподователь математики и информатики
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-4">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">

        <div class="popup__image">
          <picture>
            <source srcset="img/modal/popup-4.webp" type="image/webp">
            <img loading="lazy" src="img/popup-4.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Константин Назаров</div>
          <div class="popup__post">Преподователь по робототехнике</div>
          <ul class="popup__social social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="facebook">
                  <use href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="insta">
                  <use href="img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs-4">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Сентябрь 1999 — Июлбь 2004
                  </p>
                  <p class="popup__text">
                    Московский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">
                    Форма обучения: Очная
                  </p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__content-title">Курсы и тренинги</h3>
                  <p class="popup__text">
                    Ноябрь 2020 — Февраль 2021
                  </p>
                  <p class="popup__text">
                    Программа дополнительного образования «3D Моделирование»
                  </p>
                  <p class="popup__text">
                    Место проведения: Институт дополнительного образования «Политех»
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
               <div class="tabs__panel">
              <div class="popup__descr">
                <p class="popup__text">
                  Декарь 2000 — Июнь 2022
                </p>
                <p class="popup__text">
                  Санкт-Петербургский политехнический университет Петра Великого
                </p>
                <p class="popup__text">
                  Факультет: Компьютерных наук и технологий
                </p>
                <p class="popup__text">
                  Должнось: Преподователь математики и информатики
                </p>
              </div>
            </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Московская олимпиада по математике и информатики, 2е место
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Должнось: Преподователь математики и информатики
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-5">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">

        <div class="popup__image">
          <picture>
            <source srcset="img/modal/popup-5.webp" type="image/webp">
            <img loading="lazy" src="img/popup-5.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Лиза Весенняя</div>
          <div class="popup__post">Преподователь по программированию</div>
          <ul class="popup__social social list-reset">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="facebook">
                  <use href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="insta">
                  <use href="img/sprite.svg#insta"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-tabs-5">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Сентябрь 1999 — Июлбь 2004
                  </p>
                  <p class="popup__text">
                    Московский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">
                    Форма обучения: Очная
                  </p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__content-title">Курсы и тренинги</h3>
                  <p class="popup__text">
                    Ноябрь 2020 — Февраль 2021
                  </p>
                  <p class="popup__text">
                    Программа дополнительного образования «3D Моделирование»
                  </p>
                  <p class="popup__text">
                    Место проведения: Институт дополнительного образования «Политех»
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  </p>
                  <p class="popup__text">
                    Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
               <div class="tabs__panel">
              <div class="popup__descr">
                <p class="popup__text">
                  Декарь 2000 — Июнь 2022
                </p>
                <p class="popup__text">
                  Санкт-Петербургский политехнический университет Петра Великого
                </p>
                <p class="popup__text">
                  Факультет: Компьютерных наук и технологий
                </p>
                <p class="popup__text">
                  Должнось: Преподователь математики и информатики
                </p>
              </div>
            </div>
            </div>
            <div class="popup__bottom-content" data-simplebar>
              <div class="tabs__panel">
                <div class="popup__descr">
                  <p class="popup__text">
                    Московская олимпиада по математике и информатики, 2е место
                  </p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Должнось: Преподователь математики и информатики
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>